.App {
  text-align: center;
}
table{
  border: 3px solid blue;
  border-collapse: collapse;
  margin: 50px;
  background-color: greenyellow;
}
th,td{
  border: 3px solid blue;
  
  
}
caption{
  background-color: aqua;
  color: black;
  font-size: medium;
  font-style: oblique;
}
